{% extends 'base.html' %}
{% block content %}
  
</nav>
<div class="container">
  <h3>Your Patients</h3>
<div class="row justify-content-center">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Picture</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Extra</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
      <tr>
        <th scope="row">1</th>
        <td><img src="/files/{{patient.picture}}" width="80" height="80"></td>
        <td>{{patient.name}}</td>
        <td>{{patient.gender}}</td>
        <td>{{patient.age}}</td>
        <td>Description: {{patient.description}} <br>Mob No: {{patient.mobile_number}} <br> {{patient.address}}</td>
        <td> <a href="/patients/{{patient.id}}"><i class="fa fa-folder-open" aria-hidden="true"> Open</i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>



      </div>
</div>
{% endblock %}
 